* {
  background: pink
}

@media only screen and (orientation: landscape) {
  h1 {
    color: #d3d3d3;
  }

  h2 {
    color: #a9a9a9;
  }

  h3 {
    color: #808080;
  }

  p {
    color: #696969;
  }
}
