html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* SMARTPHONE LAYOUT - DESENVOLVIMENTO MOBILE FIRST*/

body {
  background: lightskyblue;
  margin: 15px;
}

.title {
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

/* TABLET LAYOUT */
@media only screen and (min-width: 480px) {
  
}

/* DESKTOP LAYOUT */
@media only screen and (min-width: 1024px) {
  
}