body {
  background-color: aquamarine;
}

.title {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid black;
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  transition: 0.3s;
  width: 300px;
}

.pokemon-card:hover {
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
  background-color: yellow;
}

.pokemon-info {
  padding: 10px;
}

.pokemon-image {
  align-self: center;
}