<!doctype html>
<html>
  <head>
    <title>Joke</title>
  </head>
  <body>
    <h1>JOKE</h1>
    <h3>Category</h3>
    <p><%= category %></p>
    <h3>Joke</h3>
    <p><%= joke %></p>
  </body>
</html>